<!-- <div [@routerTransition]> -->
  <!-- <app-page-header [heading]="'Todos'" [icon]="'fa fa-clock-o fa-fw'"></app-page-header> -->
  <div class="row">
     <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-clock-o fa-fw"></i> Timeline
            </div>
            <div class="card-body">
                <ul class="timeline">
                  <li app-public-todo-single *ngFor='let todo of todos; let i = index' [todo]="todo" [index]="i" [ngClass]="{'timeline-inverted': checkOdd(i)}"></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
<!-- </div> -->